<div class="container text-center">
  <br>
  <article>
    <h2><b><%= @article.title %></b></h2>
    <h3><i><%= @markdown_article.html_safe %></i></h3>
  <article>
  <ul class="list-inline">
    <li><h5><%= link_to "Edit this article", edit_article_path(@article) %></h5></li>
    <li>
      <h5><%= link_to "Delete this article", article_path(@article),
        method: :delete,
        data: { confirm: "Are you sure?" } %></h5>
    </li>
  </ul>
  <br>
  <h3><%= link_to "Back to index", articles_path %><h4>
</div>
